body{
    display:flex;
    background-color: whitesmoke;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    }

    .box{
        display: flex;
         gap: 10px;
    }
     span{
       
        cursor: pointer;
     }
     .heading{
       text-align: center;
        padding:  100px;
      
     }

#grey{
   
    background-color: grey;
    height: 100px;
    width: 100px;
    border-radius: 20px;

}
#green{
   
    background-color: green;
    height: 100px;
    width: 100px;
    border-radius: 20px;
}
#yellow{
   
    background-color: yellow;
    height: 100px;
    width: 100px;
    border-radius: 20px;
    
}
#red{
   
    background-color: red;
    height: 100px;
    width: 100px;
    border-radius: 20px;
}
#pink{
   
    background-color: pink;
    height: 100px;
    width: 100px;
    border-radius: 20px;

}
